<!-- Agenzia del lavoro

Se possibile, lavorate su di un componente creato ad hoc, è non su quello principale
Dovete generare un biglietto, in modo incrementale, e visualizzarlo su di un 'tabellone' attraverso la gestione di una possibile coda.
Ricordatevi che se volete dividere la pagina web in modo che  la visualizzazione sia diversificata potete usare i 'div class'
in modo da poterli sistemare
Se riuscite mettete anche un 'ngClass' per visualizzare con regole di stile differente, magari per tutti i numeri dispari
un colore, e per quelli pari un altro.
Implementate una logica per poter generare i biglietti, e gestirli inserendoli all'interno di un altro array, (come
l'esercizio che avete visto, di poste).
poi centrate i vari elementi di modo che siano il piu possibile centrati.
Provate, non c'e problema se non riuscite.  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agenzia Del Lavoro</title>
</head>
<body>
    <div class="table-container">
        <h1 class="titolo">Benvenuto all'agenzia per il lavoro!!</h1>
        <h2 class="intestazione">Prendi un ticket per prenotarti</h2>
        <table>
          <tr>
            <td class="ticket-cell">
              <button class="ticket-button" (click)="staccaTicket()">TICKET</button>
              <div class="numeri-tabellone">{{ ultimoTicketFormattato }}</div>
            </td>
            <td class="tabellone-cell">
              <div class="tabellone-div">TABELLONE</div>
              <p class="numeri-tabellone" *ngFor="let ticket of tabellone">{{ ticket }}</p>
            </td>
            <td class="gestione-coda-cell">
                <button class="coda-button"  (click)="coda.length > 0 && gestisciCoda()">GESTIONE CODA</button>
            </td>
          </tr>
        </table>
    </div>  
</body>
</html>
       